<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="/fragmentos :: head">
<meta charset="UTF-8">
<title>Panel administración</title>
</head>

<body class="admin_panel">

<div class="container">
	<h1>LISTADO PILOTOS</h1>
</div>

<div class="container">
	<table>
		<tr>
			<th>Nombre</th>	
		</tr>
		
		<tr th:each="piloto: ${listaPilotos}">
			<td th:text="${piloto.nombre}"></td>
		</tr>
	</table>
</div>
	
<div class="d-flex flex-column bd-highlight mb-3">
	  <div class="p-2 bd-highlight">
	  	<a th:href = "@{/formInsertaPiloto}">añadir piloto</a>
	  </div>
	  <div class="p-2 bd-highlight">
	  	<a th:href = "@{/admin}"><i class="fas fa-arrow-alt-circle-left"></i> Volver</a>
	  </div>
	  <div class="p-2 bd-highlight">
	  	<p th:text = "${error}">
	  </div>
	</div>
</body>
</html>