<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="/fragmentos :: head">
<meta charset="utf-8"> 
</head>
<body>

<div th:replace="/fragmentos :: nav"></div>

<div class="container">
	
	<form th:action="@{nuevaContra}" method="post">
	
		<input type="password" name="contra1" placeholder="nueva contraseña" required>
		
		<input type="password" name="contra2" placeholder="repetir contraseña" required>
		
		<input type="hidden" name="user" value="username">
		
		<input type="submit" value="Cambiar">
	
	</form>

</div>
<span th:replace="/fragmentos :: bootstrap"></span>
</body>
</html>