<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<th:block th:fragment="head">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8"> 
<!-- CDN bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
crossorigin="anonymous">
<!--hoja de estilos css-->
<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
<!--google fonts-->
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<!-- google icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!--  <title th:text="${title}"></title>-->

</th:block>

<th:block th:fragment="bootstrap">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</th:block>


</th:block>

<th:block th:fragment="nav">
<!--menu registro-->
   <div class="d-flex justify-content-end top-nav">
          <div class="p-2 menu-registro">
             <div  th:replace="/fragmentos :: username"></div>
             <a th:href="@{/cambiarContra}">Cambiar contraseña</a>
          </div>
    </div>

<!-- menu navegacion -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">FormulaQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" th:href="@{/registrado}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" th:href="@{/grandespremios/selectGrandesPremios}">Apostar</a>
      <a class="nav-item nav-link" th:href="@{/clasificacion}">Clasificación</a>
      <a class="nav-item nav-link" th:href="@{/index}" >Salir</a>
  </div>
  </div>
 
</nav>
</th:block>

<th:block>
<div th:fragment="username">

<p class="saludo" th:text="'Hola, ' + ${nombre_usuario}"></p>

</div>
