<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	
	<head th:replace="/fragmentos :: head">
		<meta charset="utf-8">
		<title>Cambiar contraseña</title>
	</head>
	
	<body class="admin_panel">
		<div class="container">
			
			<div th:if="${error=='La contraseña no coincide, vuelve a intentarlo'}">
				<p th:text="${error}"></p>
				<a th:href="@{/cambiarContra}">Volver</a>
			</div>
			
			<div th:if="${error=='La contraseña ha sido cambiada con éxito'}">
				<p th:text="${error}"></p>
				<a th:href="@{/logout}">Vuelve a entrar con tu nueva contraseña</a>
			</div>
		
		</div>
	</body>

</html>